@charset "utf-8";

/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}

/*ヘッダー*/
header {
    width: 100%;
    background-color: #FFA500;
}

#logo {
    margin-left: 10px;
    vertical-align: middle;
}

#title {
    margin-left: 10px;
    display: inline-block;
    color: white;
    vertical-align: middle;
}

/*カレンダー*/
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
}
th, td {
    outline: 1px solid #dddddd;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ccc;
}
td.day{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*本日*/
#today {
    background-color: #D65E72;
    border: none;
    color: #fff;
    width: 100%;
    height: 42px;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}