@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    min-width: 1080px;
    padding-bottom: 150px;
}

/*ヘッダー*/
header {
    max-width: 100%;
    margin: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 1064px;
    background-color: #6289FF;
    border-radius: 10px;
}
#logo {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 10px;
    vertical-align: middle;
}
#title {
    margin-left: 10px;
    display: inline-block;
    color: white;
    vertical-align: middle;
}

/*ページ説明*/
.page {
    display: inline-block;
    font-weight: bold;
    color: #b3ffff;
    padding: 8px 10px;
    margin-top: 5px;
    margin-left: 15px;
    background-color: #6289FF;
    border: 2px solid blue;
    border-radius: 10px;
}
.choose {
    display: inline-block;
    font-weight: bold;
    color: #3a3a3a;
    padding: 8px 10px;
    margin-top: 30px;
    margin-left: 25px;
    background-color: #74FF74;
    border: 2px solid green;
    border-radius: 10px;
}

/*キャラ説明文*/
.detail-contents {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
.detail {
    width: max-content;
    height: max-content;
    min-width: max-content;
    min-height: max-content;
    margin-top: 40px;
    position: relative;
    padding: 10px 25px;
    color: black;
    border: 2px solid #808080;
    background-color: #b3ffff;
    border-radius: 10px;
}
.detail::before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-right: 12px solid #b3ffff;
    top: 10px;
    left: -24px;
    z-index: 2;
}
.detail::after {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-right: 15px solid #808080;
    top: 7px;
    left: -30px;
    z-index: 1;
  }

/*受け渡すデータを非表示*/
#date {
    display: none;
}
#data {
    display: none;
}

/*カレンダー全体*/
.wrapper{
    width: 700px;
    margin: 0 auto;
    padding-left: 190px;
    padding-right: 190px;
    color: #666;
}

/*カレンダー*/
#calendar-header {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 1rem 0 0;
}
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #808080;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th {
    background-color: #F5C9C6;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    height: 40px;
}
td {
    width: 100%;
    height: 90px;
}
th, td {
    outline: 1px solid #808080;
    text-align: center;
    font-weight: bold;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ccc;
}
td.day {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*データのある日*/
#selectable {
    font-size: 16px;
    font-weight: bold;
    background-color: #FAF0BE;
    border: none;
    color: inherit;
    width: 100%;
    height: 110px;
}
#chosen {
    font-size: 16px;
    font-weight: bold;
    background-color: #F4DD6C;
    border: none;
    color: inherit;
    width: 100%;
    height: 108px;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}

img {
    max-width: 100%;
    max-height: 100%;
   }
.cat {
    width: 800px;
    position: relative;
    margin: 0 auto;
   }

.dog {
    width: 800px;
    position: relative;
    margin: 0 auto;
   }

/*地域選択用のボタン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* 003 */
.button003 a {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    display: inline-block;
    padding: 0.625rem 0.625rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 3px;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 220px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}
.button003 a:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

/*全国地域の場所に応じてボタンを配置*/
.cat > .button003 > .hokkaidou {
    position: absolute;
    top: 90px;
    left: 600px;
    }

.cat > .button003 > .touhoku {
    position: absolute;
    top: 260px;
    left: 630px;
    }

.cat > .button003 > .tyuubu {
    position: absolute;
    top: 383px;
    left: 482px;
    }

.cat > .button003 > .kantou_kousin {
    position: absolute;
    top: 439px;
    left: 600px;
    }

.cat > .button003 > .kinki {
    position: absolute;
    top: 468px;
    left: 404px;
    }

.cat > .button003 > .tyuugoku {
    position: absolute;
    top: 410px;
    left: 290px;
    }

.cat > .button003 > .sikoku {
    position: absolute;
    top: 550px;
    left: 293px;
    }

.cat > .button003 > .kyuusyuu_okinawa {
    position: absolute;
    top: 500px;
    left: 60px;
    }

/*北海道のボタン配置*/
.dog > .button003 > .sapporo {
    position: absolute;
    top: 280px;
    left: 190px;
    }

.dog > .button003 > .muroran {
    position: absolute;
    top: 400px;
    left: 220px;
    }

.dog > .button003 > .hakodate {
    position: absolute;
    top: 509px;
    left: 140px;   
    }
/*東北のボタン配置*/
.dog > .button003 > .aomori {
    position: absolute;
    top: 120px;
    left: 520px;
    }
.dog > .button003 > .morioka {
    position: absolute;
    top: 240px;
    left: 550px;
    }
.dog > .button003 > .akita {
    position: absolute;
    top: 230px;
    left: 330px;
    }
.dog > .button003 > .sendai {
    position: absolute;
    top: 390px;
    left: 530px;
    }
.dog > .button003 > .yamagata {
    position: absolute;
    top: 380px;
    left: 330px;
    }
.dog > .button003 > .hukusima {
    position: absolute;
    top: 500px;
    left: 450px;
    }
/*関東のボタン配置*/
.dog > .button003 > .maebasi {
    position: absolute;
    top: 200px;
    left: 200px;
    } 
.dog > .button003 > .utunomiya {
    position: absolute;
    top: 90px;
    left: 460px;
    } 
.dog > .button003 > .kumagaya {
    position: absolute;
    top: 260px;
    left: 410px;
    } 
.dog > .button003 > .mito {
    position: absolute;
    top: 210px;
    left: 610px;
    } 
.dog > .button003 > .toukyou {
    position: absolute;
    top: 370px;
    left: 340px;
    } 
.dog > .button003 > .tyousi {
    position: absolute;
    top: 405px;
    left: 610px;
    } 
.dog > .button003 > .yokohama {
    position: absolute;
    top: 480px;
    left: 390px;
    } 
/*中部のボタン配置*/
.dog > .button003 > .niigata {
    position: absolute;
    top: 120px;
    left: 530px;
    }   
.dog > .button003 > .toyama {
    position: absolute;
    top: 220px;
    left: 270px;
    }    
.dog > .button003 > .kanazawa {
    position: absolute;
    top: 280px;
    left: 140px;
    }   
.dog > .button003 > .hukui {
    position: absolute;
    top: 360px;
    left: 100px;
    }   
.dog > .button003 > .nagano {
    position: absolute;
    top: 280px;
    left: 430px;
    }   
.dog > .button003 > .gihu {
    position: absolute;
    top: 440px;
    left: 160px;
    }   
.dog > .button003 > .kouhu {
    position: absolute;
    top: 410px;
    left: 470px;
    }   
.dog > .button003 > .sizuoka {
    position: absolute;
    top: 520px;
    left: 450px;
    } 
.dog > .button003 > .nagoya {
    position: absolute;
    top: 520px;
    left: 230px;
    }  
/*近畿のボタン配置*/
.dog > .button003 > .koube {
    position: absolute;
    top: 270px;
    left: 290px;
    }
.dog > .button003 > .oosaka {
    position: absolute;
    top: 315px;
    left: 405px;
    }
.dog > .button003 > .kyouto {
    position: absolute;
    top: 160px;
    left: 450px;
    }
.dog > .button003 > .wakayama {
    position: absolute;
    top: 410px;
    left: 350px;
    }
.dog > .button003 > .nara {
    position: absolute;
    top: 290px;
    left: 520px;
    }
.dog > .button003 > .hikone {
    position: absolute;
    top: 150px;
    left: 610px;
    }
.dog > .button003 > .tu {
    position: absolute;
    top: 270px;
    left: 630px;
    }
/*中国のボタン配置*/
.dog > .button003 > .tottori {
    position: absolute;
    top: 150px;
    left: 630px;
    }
.dog > .button003 > .matue {
    position: absolute;
    top: 150px;
    left: 450px;
    }
.dog > .button003 > .okayama {
    position: absolute;
    top: 440px;
    left: 600px;
    }
.dog > .button003 > .hirosima {
    position: absolute;
    top: 470px;
    left: 360px;
    }
.dog > .button003 > .simonoseki {
    position: absolute;
    top: 540px;
    left: 120px;
    }
/*四国のボタン配置*/
.dog > .button003 > .takamatu {
    position: absolute;
    top: 130px;
    left: 540px;
    }
.dog > .button003 > .matuyama {
    position: absolute;
    top: 220px;
    left: 160px;
    }
.dog > .button003 > .tokusima {
    position: absolute;
    top: 210px;
    left: 670px;
    }
.dog > .button003 > .kouti {
    position: absolute;
    top: 370px;
    left: 410px;
    }
/*九州・沖縄のボタン配置*/
.dog > .button003 > .hukuoka {
    position: absolute;
    top: 50px;
    left: 450px;
    }
.dog > .button003 > .saga {
    position: absolute;
    top: 150px;
    left: 370px;
    }
.dog > .button003 > .ooita {
    position: absolute;
    top: 170px;
    left: 690px;
    }
.dog > .button003 > .nagasaki {
    position: absolute;
    top: 290px;
    left: 370px;
    }
.dog > .button003 > .kumamoto {
    position: absolute;
    top: 240px;
    left: 560px;
    }
.dog > .button003 > .miyazaki {
    position: absolute;
    top: 375px;
    left: 650px;
    }
.dog > .button003 > .kagosima {
    position: absolute;
    top: 480px;
    left: 450px;
    }
.dog > .button003 > .naha {
    position: absolute;
    top: 420px;
    left: 190px;
    }
/*マウスオーバー*/
#chosen:hover + .mouseover {
    visibility: visible;
}
#selectable:hover + .mouseover {
    visibility: visible;
}
.mouseover {
    visibility: hidden;
    position: absolute;
    color: #000;
    width: 180px;
    height: 170px;
    padding: 10px;
    margin-top: -150px;
    margin-left: 100px;
    background-color: #fffff6;
    border: 1px solid #a0a0a0;
    border-radius: 10%;
    box-sizing: border-box;
    box-shadow: 7.5px 7.5px 15px rgba(0, 0, 0, 0.3);
}
#hinichi {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
#shousai {
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
}


@import url("button.css")

