@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*ヘッダー*/
header {
    max-width: 100%;
    margin: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 904px;
    background-color: #AEEEF2;
}
#logo {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 10px;
    vertical-align: middle;
}
#title {
    margin-left: 10px;
    display: inline-block;
    color: white;
    vertical-align: middle;
}

/*受け渡すデータを非表示*/
#date {
    display: none;
}
#data {
    display: none;
}

/*カレンダー全体*/
.wrapper1{
    width: 620px;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    color: #666;
}
.wrapper2{
    width: 700px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    color: #666;
}

/*カレンダー*/
#calendar-header {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 1rem 0 0;
}
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #808080;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th {
    background-color: #F5C9C6;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    height: 40px;
}
td {
    width: 100%;
    height: 50px;
}
th, td {
    outline: 1px solid #808080;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ccc;
}
td.day {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#tenki {
    width: 100%;
    height: 90px;
}
/*データのある日*/
#selectable {
    font-size: 16px;
    background-color: #FAF0BE;
    border: none;
    color: black;
    width: 100%;
    height: 70px;
}
#latest1 {
    font-size: 16px;
    background-color: #FF608B;
    border: none;
    color: black;
    width: 100%;
    height: 70px;
}
#oldest1 {
    font-size: 16px;
    background-color: #1E90FF;
    border: none;
    color: black;
    width: 100%;
    height: 70px;
}
#chosen {
    font-size: 16px;
    background-color: #F4DD6C;
    border: none;
    color: black;
    width: 100%;
    height: 108px;
}
#latest2 {
    font-size: 16px;
    background-color: #FF608B;
    border: none;
    color: black;
    width: 100%;
    height: 110px;
}
#oldest2 {
    font-size: 16px;
    background-color: #1E90FF;
    border: none;
    color: black;
    width: 100%;
    height: 110px;
}
#icon {
    font-size: 16px;
    background-color: #FAF0BE;
    border: none;
    color: black;
    width: 100%;
    height: 110px;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}

img {
    max-width: 100%;
    max-height: 100%;
   }
.cat {
    width: 800px;
    position: relative;
    margin: 0 auto;
   }

.dog {
    width: 800px;
    position: relative;
    margin: 0 auto;
   }

/*地域選択用のボタン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* 003 */
.button003 a {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    display: inline-block;
    padding: 0.625rem 0.625rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 3px;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 220px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}
.button003 a:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

/*全国地域の場所に応じてボタンを配置*/
.cat > .button003 > .hokkaidou {
    position: absolute;
    top: 90px;
    left: 600px;
    }

.cat > .button003 > .touhoku {
    position: absolute;
    top: 260px;
    left: 630px;
    }

.cat > .button003 > .tyuubu {
    position: absolute;
    top: 383px;
    left: 482px;
    }

.cat > .button003 > .kantou_kousin {
    position: absolute;
    top: 439px;
    left: 600px;
    }

.cat > .button003 > .kinki {
    position: absolute;
    top: 468px;
    left: 404px;
    }

.cat > .button003 > .tyuugoku {
    position: absolute;
    top: 410px;
    left: 290px;
    }

.cat > .button003 > .sikoku {
    position: absolute;
    top: 550px;
    left: 293px;
    }

.cat > .button003 > .kyuusyuu_okinawa {
    position: absolute;
    top: 500px;
    left: 60px;
    }

/*北海道のボタン配置*/
.dog > .button003 > .sapporo {
    position: absolute;
    top: 280px;
    left: 190px;
    }

.dog > .button003 > .muroran {
    position: absolute;
    top: 400px;
    left: 220px;
    }

.dog > .button003 > .hakodate {
    position: absolute;
    top: 509px;
    left: 140px;   
    }
/*東北のボタン配置*/
.dog > .button003 > .aomori {
    position: absolute;
    top: 120px;
    left: 520px;
    }
.dog > .button003 > .morioka {
    position: absolute;
    top: 240px;
    left: 550px;
    }
.dog > .button003 > .akita {
    position: absolute;
    top: 230px;
    left: 330px;
    }
.dog > .button003 > .sendai {
    position: absolute;
    top: 390px;
    left: 530px;
    }
.dog > .button003 > .yamagata {
    position: absolute;
    top: 380px;
    left: 330px;
    }
.dog > .button003 > .hukusima {
    position: absolute;
    top: 500px;
    left: 450px;
    }
/*関東のボタン配置*/
.dog > .button003 > .maebasi {
    position: absolute;
    top: 200px;
    left: 200px;
    } 
.dog > .button003 > .utunomiya {
    position: absolute;
    top: 90px;
    left: 460px;
    } 
.dog > .button003 > .kumagaya {
    position: absolute;
    top: 260px;
    left: 410px;
    } 
.dog > .button003 > .mito {
    position: absolute;
    top: 210px;
    left: 610px;
    } 
.dog > .button003 > .toukyou {
    position: absolute;
    top: 370px;
    left: 340px;
    } 
.dog > .button003 > .tyousi {
    position: absolute;
    top: 405px;
    left: 610px;
    } 
.dog > .button003 > .yokohama {
    position: absolute;
    top: 480px;
    left: 390px;
    } 
/*中部のボタン配置*/
.dog > .button003 > .niigata {
    position: absolute;
    top: 120px;
    left: 530px;
    }   
.dog > .button003 > .toyama {
    position: absolute;
    top: 220px;
    left: 270px;
    }    
.dog > .button003 > .kanazawa {
    position: absolute;
    top: 280px;
    left: 140px;
    }   
.dog > .button003 > .hukui {
    position: absolute;
    top: 360px;
    left: 100px;
    }   
.dog > .button003 > .nagano {
    position: absolute;
    top: 280px;
    left: 430px;
    }   
.dog > .button003 > .gihu {
    position: absolute;
    top: 440px;
    left: 160px;
    }   
.dog > .button003 > .kouhu {
    position: absolute;
    top: 410px;
    left: 470px;
    }   
.dog > .button003 > .sizuoka {
    position: absolute;
    top: 520px;
    left: 450px;
    } 
.dog > .button003 > .nagoya {
    position: absolute;
    top: 520px;
    left: 230px;
    }  
/*近畿のボタン配置*/
.dog > .button003 > .koube {
    position: absolute;
    top: 270px;
    left: 290px;
    }
.dog > .button003 > .oosaka {
    position: absolute;
    top: 315px;
    left: 405px;
    }
.dog > .button003 > .kyouto {
    position: absolute;
    top: 160px;
    left: 450px;
    }
.dog > .button003 > .wakayama {
    position: absolute;
    top: 410px;
    left: 350px;
    }
.dog > .button003 > .nara {
    position: absolute;
    top: 290px;
    left: 520px;
    }
.dog > .button003 > .hikone {
    position: absolute;
    top: 150px;
    left: 610px;
    }
.dog > .button003 > .tu {
    position: absolute;
    top: 270px;
    left: 630px;
    }
/*中国のボタン配置*/
.dog > .button003 > .tottori {
    position: absolute;
    top: 150px;
    left: 630px;
    }
.dog > .button003 > .matue {
    position: absolute;
    top: 150px;
    left: 450px;
    }
.dog > .button003 > .okayama {
    position: absolute;
    top: 440px;
    left: 600px;
    }
.dog > .button003 > .hirosima {
    position: absolute;
    top: 470px;
    left: 360px;
    }
.dog > .button003 > .simonoseki {
    position: absolute;
    top: 540px;
    left: 120px;
    }
/*四国のボタン配置*/
.dog > .button003 > .takamatu {
    position: absolute;
    top: 130px;
    left: 540px;
    }
.dog > .button003 > .matuyama {
    position: absolute;
    top: 220px;
    left: 160px;
    }
.dog > .button003 > .tokusima {
    position: absolute;
    top: 210px;
    left: 670px;
    }
.dog > .button003 > .kouti {
    position: absolute;
    top: 370px;
    left: 410px;
    }
/*九州・沖縄のボタン配置*/
.dog > .button003 > .hukuoka {
    position: absolute;
    top: 50px;
    left: 450px;
    }
.dog > .button003 > .saga {
    position: absolute;
    top: 150px;
    left: 370px;
    }
.dog > .button003 > .ooita {
    position: absolute;
    top: 170px;
    left: 690px;
    }
.dog > .button003 > .nagasaki {
    position: absolute;
    top: 290px;
    left: 370px;
    }
.dog > .button003 > .kumamoto {
    position: absolute;
    top: 240px;
    left: 560px;
    }
.dog > .button003 > .miyazaki {
    position: absolute;
    top: 375px;
    left: 650px;
    }
.dog > .button003 > .kagosima {
    position: absolute;
    top: 480px;
    left: 450px;
    }
.dog > .button003 > .naha {
    position: absolute;
    top: 420px;
    left: 190px;
    }
/*マウスオーバー*/
#chosen:hover + .mouseover {
    display: block;
}
#latest2:hover + .mouseover {
    display: block;
}
#oldest2:hover + .mouseover {
    display: block;
}
#icon:hover + .mouseover {
    display: block;
}
.mouseover {
    display: none;
    position: absolute;
    color: #000;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin-top: -120px;
    margin-left: 100px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


@import url("button.css")

