/*トップ画面ボタン*/
.search_button{
    display: flex;
    justify-content: space-around;
    margin: 70px 200px 100px 200px;
    text-align: center;
}

#day{
    display: flex;
    background-color: #6289FF;
    width: max-content;
    height: max-content;
    min-width: max-content;
    min-height: max-content;
    padding: 70px 95px 50px 50px;
    margin: 20px;
    border: 0px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 34px;
    text-align: left;
    letter-spacing: 3px;
    color: white;
}

#region{
    display: flex;
    background-color: #6289FF;
    width: max-content;
    height: max-content;
    min-width: max-content;
    min-height: max-content;
    padding: 70px 137px 50px 50px;
    margin: 20px;
    border: 0px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 3px;
    color: white;
}

#day_img{
    width: 200px; 
    height: 150px;
    margin: -20px -70px 20px 40px;
}

#region_img{
    width: 215px; 
    height: 150px;
    margin: -20px -90px 20px 40px;
}