<!--カレンダー用のhtml-->
{% extends "base.html" %}
{% block content %}
<!-- ページ説明 -->
<div class="page">
    <p>コメントをここに表示</p>
</div><br>
<!--rendertemplateから変数cityを入手して代入-->
{% if chosen_year %}
<div class="choose">
    <p><ruby>日<rt>ひ</rt></ruby>づけ - {{ chosen_year }}<ruby>年<rt>ねん</rt></ruby> {{ chosen_month }}<ruby>月<rt>がつ</rt></ruby>{{ chosen_day }}<ruby>日<rt>にち</rt></ruby></p>
</div>
{% endif %}
<div class="choose">
    <p>{{ city }}のカレンダーを表示</p>
</div>
<!-- キャラ説明文 -->
<div class="detail-contents">
    <img src="/static/chara.png" height="176px" width="177px" />
    <div class="detail">
        <p>コメントをここに表示</p>
    </div>
</div>
<!-- カレンダー -->
<div class="wrapper">
    <h1 id="calendar-header"></h1>
    <div id="next-prev-button">
        <button id="prev" onclick="prev()">‹</button>
        <button id="next" onclick="next()">›</button>
    </div>
    <!-- 日にちをサーバーに渡す -->
    <form method="POST" action="/index">
        <div id="calendar"></div>
    </form>
</div>
<!-- pythonから渡された日付データ -->
{% if chosen_year %}
    <div id="date">{{ chosen_year }}/{{ chosen_month }}/{{ chosen_day }}</div>
{% else %}
    <div id="date">False</div>
{% endif %}
<div id="data">{{ data }}</div>
<!-- javascriptの適用 -->
<script type="text/javascript" src="/static/calendar.js"></script>
{% endblock %}