{% extends "base.html" %}
{% block content %}
<!-- 地域選択画面 -->
{% if chosen_date %}
<p>{{ chosen_date }}を選択中</p>
{% endif %}

<div class="cat">
    <img src="/static/image/color_area.png">
    <div class="button003">
        <!--select_areaという関数にアクセスしてareaという引数を渡していいるリンク -->
        <a class="hokkaidou" href="/select_region/hokkaidou">北海道・東北<br>(ほっかいどう・<br>とうほく)</a>
        <a class="kantou_kousin" href="/select_region/kantou_kousin">関東<br>(かんとう)</a>
        <a class="tyuubu" href="/select_region/tyuubu">中部<br>(ちゅうぶ)</a>
        <a class="kinki" href="/select_region/kinki">近畿<br>(きんき)</a>
        <a class="tyuugoku" href="/select_region/tyuugoku">中国<br>(ちゅうごく)</a>
        <a class="sikoku" href="/select_region/sikoku">四国<br>(しこく)</a>
        <a class="kyuusyuu_okinawa" href="/select_region/kyuusyuu_okinawa">九州・沖縄<br>(きゅうしゅう・<br>おきなわ)</a>
    </div>
</div>


</form>
{% endblock %}