{% extends "base.html" %}
{% block content %}
<!-- カレンダー -->
<div class="wrapper">
    <h1 id="header"></h1>
    <div id="next-prev-button">
        <button id="prev" onclick="prev()">‹</button>
        <button id="next" onclick="next()">›</button>
    </div>
    <!-- 日にちをサーバーに渡す -->
    <form method="POST" action="/index">
        <div id="calendar"></div>
    </form>
</div>
<!-- pythonから渡された日付データ -->
<div id="date" title={{ date }}></div>
<!-- javascriptの適用 -->
<script type="text/javascript" src="/static/select_date.js"></script>
{% endblock %}