{% extends "base.html" %}
{% block content %}
<!-- 地域選択画面 -->
<!-- ページ説明 -->
<div class="page">
    <p><ruby>地方<rt>ちほう</rt></ruby>を<ruby>選択<rt>せんたく</rt></ruby></p>
</div><br>
<!--rendertemplateから変数cityを入手して代入-->
{% if chosen_year %}
<div class="choose">
    <p><ruby>日<rt>ひ</rt></ruby>づけ - {{ chosen_year }}<ruby>年<rt>ねん</rt></ruby> {{ chosen_month }}<ruby>月<rt>がつ</rt></ruby>{{ chosen_day }}<ruby>日<rt>にち</rt></ruby></p>
</div>
{% endif %}
<!-- キャラ説明文 -->
<div class="detail-contents">
    <img src="/static/chara.png" height="176px" width="177px" />
    <div class="detail">
        <p><ruby>下<rt>した</rt></ruby>の<ruby>地図<rt>ちず</rt></ruby>から<b><ruby>君<rt>きみ</rt></ruby>の<ruby>住<rt>す</rt></ruby>んでいる<ruby>地方<rt>ちほう</rt></ruby></b>を<ruby>選<rt>えら</rt></ruby>んでね！</p>
    </div>
</div>

<div class="cat">
    <img src="/static/image/color_area.png">
    <div class="button003">
        <!--select_areaという関数にアクセスしてareaという引数を渡していいるリンク -->
        <a class="hokkaidou" href="/select_region/hokkaidou">北海道<br>(ほっかいどう)</a>
        <a class="touhoku" href="/select_region/touhoku">東北<br>(とうほく)</a>
        <a class="kantou_kousin" href="/select_region/kantou_kousin">関東<br>(かんとう)</a>
        <a class="tyuubu" href="/select_region/tyuubu">中部<br>(ちゅうぶ)</a>
        <a class="kinki" href="/select_region/kinki">近畿<br>(きんき)</a>
        <a class="tyuugoku" href="/select_region/tyuugoku">中国<br>(ちゅうごく)</a>
        <a class="sikoku" href="/select_region/sikoku">四国<br>(しこく)</a>
        <a class="kyuusyuu_okinawa" href="/select_region/kyuusyuu_okinawa">九州・沖縄<br>(きゅうしゅう・<br>おきなわ)</a>
    </div>
</div>


</form>
{% endblock %}