{% extends "base.html" %}
{% block content %}
<!-- 地域選択画面 -->
{% if date %}
<p>{{ date }}を選択中</p>
{% endif %}

<div>
    <!--select_areaという関数にアクセスしてareaという引数を渡していいるリンク -->
    <a href="{{ url_for("select_area", area="hokkaidou") }}">北海道</a>
    <a href="{{ url_for("select_area", area="touhoku") }}">東北</a>
    <a href="{{ url_for("select_area", area="kantou_kousin") }}">関東・甲信</a>
    <a href="{{ url_for("select_area", area="tyuubu") }}">中部</a>
    <a href="{{ url_for("select_area", area="kinnki") }}">近畿</a>
    <a href="{{ url_for("select_area", area="tyuugoku_sikoku") }}">中国・四国</a>
    <a href="{{ url_for("select_area", area="kyuusyuu") }}">九州</a>
    <a href="{{ url_for("select_area", area="okinawa") }}">沖縄</a>
</div>
</form>
{% endblock %}