{% extends "base.html" %}
{% block content %}

{% if chosen_date %}
<p>{{ chosen_date }}を選択中</p>
{% endif %}

<p>ここは関東のページです</p>
<div class="dog">
    <img src="/static/image/kanto.png">
    <div class="button003">
        <a class="maebasi" href="{{ url_for("pick_city", city="前橋") }}">前橋<br>(まえばし)</a>
        <a class="utunomiya" href="{{ url_for("pick_city", city="宇都宮") }}">宇都宮<br>(うつのみや)</a>
        <a class="kumagaya" href="{{ url_for("pick_city", city="熊谷") }}">熊谷<br>(くまがや)</a>
        <a class="mito" href="{{ url_for("pick_city", city="水戸") }}">水戸<br>(みと)</a>
        <a class="toukyou" href="{{ url_for("pick_city", city="東京") }}">東京<br>(とうきょう)</a>
        <a class="tyousi" href="{{ url_for("pick_city", city="銚子") }}">銚子<br>(ちょうし)</a>
        <a class="yokohama" href="{{ url_for("pick_city", city="横浜") }}">横浜<br>(よこはま)</a>
    </div>
</div>
{% endblock %}