{% extends "base.html" %}
{% block content %}

<!-- ページ説明 -->
<div class="page">
    <p>コメントをここに表示</p>
</div><br>
<!--rendertemplateから変数cityを入手して代入-->
{% if chosen_year %}
<div class="choose">
    <p><ruby>日<rt>ひ</rt></ruby>づけ - {{ chosen_year }}<ruby>年<rt>ねん</rt></ruby> {{ chosen_month }}<ruby>月<rt>がつ</rt></ruby>{{ chosen_day }}<ruby>日<rt>にち</rt></ruby></p>
</div>
{% endif %}
<div class="choose">
    <p><ruby>地方<rt>ちほう</rt></ruby> - <ruby>近畿<rt>きんき</rt></ruby></p>
</div>
<!-- キャラ説明文 -->
<div class="detail-contents">
    <img src="/static/chara.png" height="176px" width="177px" />
    <div class="detail">
        <p>コメントをここに表示</p>
    </div>
</div>

<div class="dog">
    <img src="/static/image/kinki.png">
    <div class="button003">
        <a class="koube" href="{{ url_for("pick_city", region="近畿", city="神戸") }}">神戸<br>(こうべ)</a>
        <a class="oosaka" href="{{ url_for("pick_city", region="近畿", city="大阪") }}">大阪<br>(おおさか)</a>
        <a class="kyouto" href="{{ url_for("pick_city", region="近畿", city="京都") }}">京都<br>(きょうと)</a>
        <a class="wakayama" href="{{ url_for("pick_city", region="近畿", city="和歌山") }}">和歌山<br>(わかやま)</a>
        <a class="nara" href="{{ url_for("pick_city", region="近畿", city="奈良") }}">奈良<br>(なら)</a>
        <a class="hikone" href="{{ url_for("pick_city", region="近畿", city="彦根") }}">彦根<br>(ひこね)</a>
        <a class="tu" href="{{ url_for("pick_city", region="近畿", city="津") }}">津<br>(つ)</a>
    </div>
</div>
{% endblock %}