{% extends "base.html" %}
{% block content %}

<!-- ページ説明 -->
<div class="page">
    <p>コメントをここに表示</p>
</div><br>
<!--rendertemplateから変数cityを入手して代入-->
{% if chosen_year %}
<div class="choose">
    <p><ruby>日<rt>ひ</rt></ruby>づけ - {{ chosen_year }}<ruby>年<rt>ねん</rt></ruby> {{ chosen_month }}<ruby>月<rt>がつ</rt></ruby>{{ chosen_day }}<ruby>日<rt>にち</rt></ruby></p>
</div>
{% endif %}
<div class="choose">
    <p><ruby>地方<rt>ちほう</rt></ruby> - <ruby>九州<rt>きゅうしゅう</rt></ruby>・<ruby>沖縄<rt>おきなわ</rt></ruby></p>
</div>
<!-- キャラ説明文 -->
<div class="detail-contents">
    <img src="/static/chara.png" height="176px" width="177px" />
    <div class="detail">
        <p>コメントをここに表示</p>
    </div>
</div>

<div class="dog">
    <img src="/static/image/kyuus.png">
    <div class="button003">
        <a class="hukuoka" href="{{ url_for("pick_city", region="九州・沖縄", city="福岡") }}">福岡<br>(ふくおか)</a>
        <a class="saga" href="{{ url_for("pick_city", region="九州・沖縄", city="佐賀") }}">佐賀<br>(さが)</a>
        <a class="ooita" href="{{ url_for("pick_city", region="九州・沖縄", city="大分") }}">大分<br>(おおいた)</a>
        <a class="nagasaki" href="{{ url_for("pick_city", region="九州・沖縄", city="長崎") }}">長崎<br>(ながさき)</a>
        <a class="kumamoto" href="{{ url_for("pick_city", region="九州・沖縄", city="熊本") }}">熊本<br>(くまもと)</a>
        <a class="miyazaki" href="{{ url_for("pick_city", region="九州・沖縄", city="宮崎") }}">宮崎<br>(みやざき)</a>
        <a class="kagosima" href="{{ url_for("pick_city", region="九州・沖縄", city="鹿児島") }}">鹿児島<br>(かごしま)</a>
        <a class="naha" href="{{ url_for("pick_city", region="九州・沖縄", city="那覇") }}">那覇<br>(なは)</a>
    </div>
</div>
{% endblock %}