{% extends "base.html" %}
{% block content %}

<!-- ページ説明 -->
<div class="page">
    <p>コメントをここに表示</p>
</div><br>
<!--rendertemplateから変数cityを入手して代入-->
{% if chosen_year %}
<div class="choose">
    <p><ruby>日<rt>ひ</rt></ruby>づけ - {{ chosen_year }}<ruby>年<rt>ねん</rt></ruby> {{ chosen_month }}<ruby>月<rt>がつ</rt></ruby>{{ chosen_day }}<ruby>日<rt>にち</rt></ruby></p>
</div>
{% endif %}
<div class="choose">
    <p><ruby>地方<rt>ちほう</rt></ruby> - <ruby>東北<rt>とうほく</rt></ruby></p>
</div>
<!-- キャラ説明文 -->
<div class="detail-contents">
    <img src="/static/chara.png" height="176px" width="177px" />
    <div class="detail">
        <p>コメントをここに表示</p>
    </div>
</div>

<div class="dog">
    <img src="/static/image/touho.png">
    <div class="button003">
        <a class="aomori" href="{{ url_for("pick_city", region="東北", city="青森") }}">青森<br>(あおもり)</a>
        <a class="morioka" href="{{ url_for("pick_city", region="東北", city="盛岡") }}">盛岡<br>(もりおか)</a>
        <a class="akita" href="{{ url_for("pick_city", region="東北", city="秋田") }}">秋田<br>(あきた)</a>
        <a class="sendai" href="{{ url_for("pick_city", region="東北", city="仙台") }}">仙台<br>(せんだい)</a>
        <a class="yamagata" href="{{ url_for("pick_city", region="東北", city="山形") }}">山形<br>(やまがた)</a>
        <a class="hukusima" href="{{ url_for("pick_city", region="東北", city="福島") }}">福島<br>(ふくしま)</a>
    </div>
</div>
{% endblock %}